@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  font-family: "Nunito", sans-serif; }

.header_index nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px; }

.header_index ul {
  display: flex;
  list-style: none; }

.header_index li {
  display: flex; }

.header_index a {
  font-size: 25px;
  color: #fffcfc;
  text-decoration: none;
  display: flex;
  width: 150px;
  margin: 20px;
  padding: 5px;
  justify-content: center;
  color: white; }
  .header_index a:hover {
    color: #6b6b6b; }

.header4 nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

ul {
  display: flex;
  list-style: none; }

a {
  font-size: 25px;
  color: #fffcfc;
  text-decoration: none;
  display: flex;
  width: 150px;
  margin: 20px;
  padding: 5px;
  justify-content: center;
  color: white; }
  a:hover {
    color: #6b6b6b; }

.logochico {
  width: 150px; }

@media (max-width: 949px) {
  .header4 nav {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    align-items: center; } }

.main_index {
  display: flex;
  flex-direction: column;
  align-items: center; }

.logogrande {
  width: 690px; }

.mainabout {
  border: solid white; }
  .mainabout h1 {
    color: #575555;
    font-size: 50px;
    text-align: left;
    margin: 30px 130px 20px 130px; }
  .mainabout .ping {
    color: #969696;
    font-size: 25px;
    text-align: justify;
    padding: 70px;
    margin: 50px; }
    .mainabout .ping:hover {
      color: white; }
  .mainabout .pesp {
    color: #969696;
    font-size: 25px;
    text-align: justify;
    padding: 70px;
    margin: 50px; }
    .mainabout .pesp:hover {
      color: white; }

@media (max-width: 600px) {
  .mainabout .ping {
    color: #969696;
    font-size: 20px;
    text-align: justify;
    padding: 10px;
    margin: 10px; }
  .mainabout .pesp {
    color: #969696;
    font-size: 20px;
    text-align: justify;
    padding: 10px;
    margin: 10px; }
  .mainabout h1 {
    text-align: center; } }

.mainreleases {
  border: solid white; }
  .mainreleases h1 {
    color: #575555;
    font-size: 50px;
    text-align: left;
    margin: 30px 130px 20px 130px;
    border: solid white; }

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "img12024 img22023 img12023 img32022" "img22022 img12022 img22021 img12021" "img42020 img32020 img22020 img12020" "img42029 img32019 img22019 img12019"; }

.img12019 {
  grid-area: img12019; }

.img22019 {
  grid-area: img22019; }

.img32019 {
  grid-area: img32019; }

.img42029 {
  grid-area: img42029; }

.img12020 {
  grid-area: img12020; }

.img22020 {
  grid-area: img22020; }

.img32020 {
  grid-area: img32020; }

.img42020 {
  grid-area: img42020; }

.img12021 {
  grid-area: img12021; }

.img22021 {
  grid-area: img22021; }

.img12022 {
  grid-area: img12022; }

.img22022 {
  grid-area: img22022; }

.img32022 {
  grid-area: img32022; }

.img12023 {
  grid-area: img12023; }

.img22023 {
  grid-area: img22023; }

.img12024 {
  grid-area: img12024; }

.container {
  padding: 70px; }

.container div a {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  width: 400px; }

.container div a img {
  width: 300px; }

.container div a p {
  color: #969696; }
