@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  font-family: "Nunito", sans-serif; }

.header_index nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px; }

.header_index ul {
  display: flex;
  list-style: none; }

.header_index li {
  display: flex; }

.header_index a {
  font-size: 25px;
  color: #fffcfc;
  text-decoration: none;
  display: flex;
  width: 150px;
  margin: 20px;
  padding: 5px;
  justify-content: center;
  color: white; }
  .header_index a:hover {
    color: #6b6b6b; }

.header4 nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.header4 ul {
  display: flex;
  list-style: none; }

.header4 a {
  font-size: 25px;
  color: #fffcfc;
  text-decoration: none;
  display: flex;
  width: 150px;
  margin: 20px;
  padding: 5px;
  justify-content: center;
  color: white; }
  .header4 a:hover {
    color: #6b6b6b; }

.header4 .logochico {
  width: 150px; }

.main_index {
  display: flex;
  flex-direction: column;
  align-items: center; }

.logogrande {
  width: 690px; }

.mainabout h1 {
  color: #575555;
  font-size: 50px;
  text-align: left;
  margin: 30px 130px 20px 130px; }

.mainabout .ping {
  color: #969696;
  font-size: 25px;
  text-align: center;
  padding: 70px;
  margin: 50px; }
  .mainabout .ping:hover {
    color: white; }

.mainabout .pesp {
  color: #969696;
  font-size: 25px;
  text-align: center;
  padding: 70px;
  margin: 50px; }
  .mainabout .pesp:hover {
    color: white; }
