* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black; }

.header_index {
  border: solid white 1px; }
  .header_index nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 70px; }
  .header_index ul {
    display: flex;
    list-style: none; }
  .header_index a {
    font-size: 25px;
    color: white;
    display: flex;
    width: 150px;
    margin: 20px;
    padding: 5px;
    justify-content: center;
    color: white; }
    .header_index a:hover {
      color: grey; }
