.mainabout{
   border: solid white;
     h1{ 
        color: $grish1;
        font-size: 50px;
        text-align:left;
        margin: 30px 130px 20px 130px;

     }

     .ping{
        color: $grish2;
        font-size: 25px;
        text-align: justify;    
        padding: 70px;
        margin: 50px;
        &:hover{
            color: white;
        }

     }

     .pesp{
        color: $grish2;
        font-size: 25px;
        text-align: justify;
        padding: 70px;
        margin: 50px;
        &:hover{
            color: white;
        }

     }
}


@media (max-width: 600px){
.mainabout .ping {
   color: #969696;
   font-size: 20px;
   text-align: justify;
   padding: 10px;
   margin: 10px;}

.mainabout .pesp {
   color: #969696;
   font-size: 20px;
   text-align: justify;
   padding: 10px;
   margin: 10px;}

.mainabout h1 {
   text-align: center;
}
   
}

