.main_artists {
   min-width: 80vh;
   margin: 0 0 100px 0;
   padding: 0 0 100px 0;
   border-color: solid white;

   h1{
      border-color: solid white;
      color: $grish1;
      font-size: 40px;
      text-align:left;
      margin: 30px 130px 20px 130px;
      flex-direction: row-reverse;
      align-items: stretch;
      justify-content: space-evenly;

   }
   .sectionart{
    border-color: solid white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 50px 
    }
    

    .alderaan{
      display: flex;
    }
   


   h2 {
      color: rgb(202, 202, 202);
      display: flex;
      align-items: center;
      justify-content: space-around;
      
   }

   img {
      width: 400px;
      padding: 20px;
      margin: 30px;
   
   }
 }




 @media (max-width: 800px){
 .main_artists section {
    flex-direction: column;
    align-items: center;
    }
 }


