footer{
    padding: 70px 0;
}

.redes_sociales {
        border: solid white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h4 {
            color: white;
        }
    }
        
    .section1 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border: solid white;
        padding: 0 50px;

        li{
            border: solid white;
        }

        a{
            border: solid white;
            font-size: 20px;
            text-align: left;
        }
       
        
    }

    .section2 {
        h4 {
            color: white;
        }
        

        p {
            color: white;
        }

    }
