.header_index {
    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; 
        padding: 20px;
    }

    ul{
        display: flex;
        list-style: none;
    }

    li {
        display: flex; 
    }
   
    a{

        font-size: 25px;
        color: $blanconav;
        text-decoration: none;
        display: flex;
        width: 150px;
        margin: 20px;
        padding: 5px;
        justify-content: center;
        &:hover{
            color: $grisnav;
        }

        
    }

   
   

}


