.header4 {
    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; 
       
    }

    ul{
        display: flex;
        list-style: none;
    }
   
    a{

        font-size: 25px;
        color: $blanconav;
        text-decoration: none;
        display: flex;
        width: 150px;
        margin: 20px;
        padding: 5px;
        justify-content: center;
        color: white;
        &:hover{
            color: $grisnav;
        }
        
    }

    .logochico {
        width: 150px;

    }
   

}



