.header4 {
    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; 
        padding: 20px;
       
    }

    }

    

    ul{
        display: flex;
        list-style: none;
    }
   
    a{

        font-size: 25px;
        color: $blanconav;
        text-decoration: none;
        display: flex;
        width: 150px;
        margin: 20px;
        padding: 5px;
        justify-content: center;
        &:hover{
            color: $grisnav;
        }
        
    }

    .logochico {
        width: 150px;

    }
   

    @media (max-width: 949px){
        .header4 nav{
            display: flex;
            justify-content: center;
            flex-direction: row;

        }
    }



