.main_index{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;

    img{
        width: 600px;
    }
}


@media (max-width: 400px){

    .main_index {
        display: flex;
        flex-direction: column;
        align-items: center;

        img{
            width: 350px;;
        }
    }
    
}

  
    