.mainreleases {

    display: flex;
    flex-direction: column;
    align-items: stretch;

    h1{
        color: $grish1;
        font-size: 40px;
        text-align:left;
        margin: 30px 130px 20px 130px;
    }

    h2{
        color: white;
        text-align:center;
        margin: 20px;
        padding: 20px;
        
    }


    .releases2019 {
        margin: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
              "img12029 img22029 img32029 img42029";
              justify-items: center;
          }


@media (max-width: 1355px){
.releases2019 {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        grid-template-areas:
              "img12029 img22029 img32029 img42029";
            }

}

          
          
          .img12029 {
                     grid-area: img12029; 
                     width: auto;
                h3 {
                    color: azure;
                    text-align:center;
                    }
            
            }
          
          .img22029 { 
                     grid-area: img22029; 
               
                     width: auto;
                h3 {
                     color: azure;
                     text-align:center;
                   }
        
            }
          
          .img32029 { 
                    grid-area: img32029;
                    width: auto;
               h3 {
                    color: azure;
                    text-align:center;
                  }
            }
          
          .img42029 { 
                    grid-area: img42029;
                    width: auto;
               h3 {
                    color: azure;
                    text-align:center;
                  }
             }
          
    .releases2019 a {
        width: 300px;
        height: 300px;
    }

    .releases2019 a img {
        width: auto;

    }




}


.mainreleases .variusart {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;

    a {
        width: auto;
    }
    img {
        width: 500px;
        &:hover{
            border: solid grey 10px;
        }
    }

}


// 1355


