.mainreleases {
    border: solid white;
    display: flex;
    
     h1{ 
        color: $grish1;
        font-size: 50px;
        text-align:left;
        margin: 30px 130px 20px 130px;
        border: solid white;

     }


   .container {  
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "img12024 img22023 img12023 img32022"
      "img22022 img12022 img22021 img12021"
      "img42020 img32020 img22020 img12020"
      "img42029 img32019 img22019 img12019";
    justify-content: space-around;

      
  }
  
  .img12019 { grid-area: img12019;}
  
  .img22019 { grid-area: img22019; }
  
  .img32019 { grid-area: img32019; }
  
  .img42029 { grid-area: img42029; }
  
  .img12020 { grid-area: img12020; }
  
  .img22020 { grid-area: img22020; }
  
  .img32020 { grid-area: img32020; }
  
  .img42020 { grid-area: img42020; }
  
  .img12021 { grid-area: img12021; }
  
  .img22021 { grid-area: img22021; }
  
  .img12022 { grid-area: img12022; }
  
  .img22022 { grid-area: img22022; }
  
  .img32022 { grid-area: img32022; }
  
  .img12023 { grid-area: img12023; }
  
  .img22023 { grid-area: img22023; }
  
  .img12024 { grid-area: img12024; }
  


  
  .container div a{
    border: white solid 1px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    
    
  }

  .container div a img{
    width: 300px;
    
  }

  .container div a p{
    color: $grish2;
    border: white solid 1px;
    


  }
}