// Palerta de colores
$blanconav:rgb(255, 252, 252);
$grisnav:rgb(107, 107, 107);

$grish1: rgb(87, 85, 85);
$grish2: rgb(150, 150, 150);   
$blancoh3:rgb(255, 252, 252);

$grisfooter: rgb(202, 202, 202);

// Fuentes

@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');

$fuente:"Nunito", sans-serif;
